h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101142-01. Interpretar la normatividad legal vigente con relación a las actividades económicas y administrativas de los entes de la economía solidaria. 




