.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Cooperativa: 
            | son empresas asociativas sin ánimo de lucro, donde los mismos trabajadores son aportantes de la organización.
        hr

        p
            strong.mr-2 Economía solidaria: 
            | sistema socioeconómico, donde resalta el hombre como un ser participativo, integral y trabajando por un bien común.

        hr

        p
            strong.mr-2 Sin ánimo de lucro: 
            | organizaciones establecidas de carácter, las ganancias son reinvertirlas para conseguir un bien común para todos sus miembros.

        hr

        p
            strong.mr-2 Solidaridad: 
            | lo que significa hacer propia la causa ajena.

        hr

        p
            strong.mr-2 Trabajo asociado cooperativo: 
            | son grupos de personas naturales que se asocian para un fin, cumpliendo unas directrices dadas por ellos mismos.