.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody

            
                tr
                    td ABC del sector solidario    
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA1_MC1_ABC_del_sector_solidario.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material

                tr
                    td Cuadernillo del formador

                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA1_MC2_Cuadernillo_del_formador.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material   

                tr
                    td Fundamentos básicos de economía solidaria   
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA1_MC3_Fundamentos_economia_solidaria.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material 