.container

    .header-ecored
        h1 3. Normatividad del sector solidario


    p.my-5 La Constitución Política de Colombia de 1991 no utilizó directamente el término “Economía solidaria”, pero sí nombró en sus artículos la palabra solidaridad. En Colombia se han dictado varias legislaciones dirigidas a las cooperativas y en la actualidad, el sector de la economía solidaria cuenta con el siguiente marco normativo: 

.container.timeline__wrapper
    .row.justify-content-center.px-sm-2.px-md-5.py-5
        .col-10 
            section                      
                       
                .timeline-card-wrapper.tl--borders.pt-5                          
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Ley 79 de 1988
                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Dotar al sector cooperativo de un marco propicio para su desarrollo como parte fundamental de la economía nacional.

                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Brindar las orientaciones necesarias para la creación, consolidación y protección de las cooperativas y precooperativas.
                                                  
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Decreto Ley 1480 de 1989
                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Dotar a las asociaciones mutualistas de un marco jurídico adecuado para su desarrollo, promover la vinculación a estas formas asociativas de economía social y garantizar que sean apoyadas por parte del Estado. 

                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Determinar la naturaleza, características, constitución y regímenes internos de responsabilidad y sanciones.
                                li
                                    span Dictar medidas para el fomento de las asociaciones mutualista.

                                        
                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Decreto Ley 1481 de 1989

                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Otorgar a los fondos de empleados un marco jurídico adecuado para su desarrollo, promover la vinculación a estas formas asociativas de economía social y garantizar que sean apoyadas por parte del Estado. 

                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Establecer lineamientos para el desarrollo adecuado de las actividades que adelantan estas organizaciones tanto de base como sus entes apremiadores.

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Ley 454 de 1998

                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Crear la superintendencia para establecer el fondo de garantías para las cooperativas financieras de ahorro y crédito.
                                li 
                                    span Dictar normas sobre la actividad financiera de las entidades de naturaleza cooperativa. 
 

                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Brindar el marco general regulatorio de todas las organizaciones de la economía solidaria.
                                li 
                                    span Establecer las reglas para el ejercicio de la actividad del ahorro y crédito, y las funciones de las entidades del estado. 

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Ley 720 del 2001 y Decreto Reglamentario 4290 del 2005

                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Reconocer, promover y regular la acción voluntaria de los ciudadanos colombianos y demás normas aplicables a su condición de voluntariado.
 
                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Esta ley se aplica a toda acción voluntaria formal o informal que se desarrolle en Colombia.

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Ley 1391 de 2010

                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Reformar la norma rectora de la forma asociativa conocida como fondos de empleados.
 
                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Crear el fondo de desarrollo empresarial solidario, con un diez por ciento (10%) de los excedentes del ejercicio económico del fondo.

                    .timeline-card
                        .timeline-card__head
                            .img-box
                                img(src="assets/images/pages/tema-3/icon-decreto.svg", alt="", style="height:36px")
                            h3 Decreto Ley 4122 de 2011

                            
                        .timeline-card__body
                            h4 Aspectos relevantes

                            ul.bg-color-light
                                li 
                                    span Transformar el Departamento Administrativo Nacional de Economía Solidaria (DANSOCIAL) en la Unidad Administrativa Especial de Organizaciones Solidarias, la cual está adscrita al Ministerio del Trabajo.
 
                            h4 Campo de aplicación 

                            ul.bg-color-light
                                li
                                    span Crear la Unidad Administrativa Especial de Organizaciones Solidarias que asume todas las funciones del antiguo Departamento Administrativo Nacional de Economía Solidaria (DANSOCIAL).