.container

    .header-ecored
        h1 2. Organismos que regulan el funcionamiento de las empresas del sector solidario


    .jumbotron.bg-white

        p.mt-5 En Colombia existen autoridades que regulan las actividades que realizan las entidades del sector solidario, cuyo fin es el de apoyarlas en sus planes, programas y estrategias; entre ellas se encuentran las siguientes: 


        .header-arrow.my-5
            h3.text-center Entidades que regulan el sector solidario


        #accordionTema2.accordion.mt-6
            .card
                #headingTema2One.card-header
                    h3.mb-0
                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseTema2One', aria-expanded='true', aria-controls='collapseTema2One')
                            h3.mb-0.collapsable-title.d-flex.align-items-center Ministerio del trabajo
                #collapseTema2One.collapse.show(aria-labelledby='headingTema2One', data-parent='#accordionTema2')
                    .card-body
                        p Encargado de formular y orientar las políticas públicas para el fortalecimiento y la protección de las organizaciones solidarias.
 
            .card
                #headingTema2Two.card-header
                    h3.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema2Two', aria-expanded='false', aria-controls='collapseTema2Two')
                            h3.mb-0.collapsable-title.d-flex.align-items-center Unidad administrativa especial de organizaciones solidarias
                #collapseTema2Two.collapse(aria-labelledby='headingTema2Two', data-parent='#accordionTema2')
                    .card-body
                        p Su función es fortalecer y desarrollar social y empresarialmente las organizaciones solidarias para prosperidad de los sectores y regiones del país con una institucionalidad del sector.

            .card
                #headingTema2Three.card-header
                    h3.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema2Three', aria-expanded='false', aria-controls='collapseTema2Three')
                            h3.mb-0.collapsable-title.d-flex.align-items-center Supersolidaria
                #collapseTema2Three.collapse(aria-labelledby='headingTema2Three', data-parent='#accordionTema2')
                    .card-body
                        p Realiza el control, inspección y vigilancia sobre las entidades solidarias, con el fin de asegurar el cumplimiento de las disposiciones legales y reglamentarias y de las normas contenidas en sus propios estatutos.
                        
            .card
                #headingTema24.card-header
                    h3.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema24', aria-expanded='false', aria-controls='collapseTema24')
                            h3.mb-0.collapsable-title.d-flex.align-items-center FOGACOOP
                #collapseTema24.collapse(aria-labelledby='headingTema24', data-parent='#accordionTema2')
                    .card-body
                        p Brinda protección y da confianza a los depositantes y ahorradores de las entidades cooperativas inscritas, buscando preservar el equilibrio y la equidad.


            .card
                #headingTema25.card-header
                    h3.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema25', aria-expanded='false', aria-controls='collapseTema25')
                            h3.mb-0.collapsable-title.d-flex.align-items-center Consejo nacional de economía
                #collapseTema25.collapse(aria-labelledby='headingTema25', data-parent='#accordionTema2')
                    .card-body
                        p Son los encargados de formular y coordinar a nivel nacional las políticas, estrategias, planes, programas y proyectos generales pertinentes al sistema de la economía solidaria.


            .card
                #headingTema26.card-header
                    h3.mb-0
                        button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTema6', aria-expanded='false', aria-controls='collapseTema6')
                            h3.mb-0.collapsable-title.d-flex.align-items-center Entes territoriales
                #collapseTema6.collapse(aria-labelledby='headingTema26', data-parent='#accordionTema2')
                    .card-body
                        p Organismos del estado encargados del control de legalidad y vigilancia de las fundaciones, asociaciones o corporaciones.